  @import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;600&display=swap');


body {
	background-color: #303030; color: #fff;
	font-family: 'Space Grotesk', sans-serif;
}

a {
	color: white;
}