---
layout: default
title: Home
page: home
---

<head>
  <title>Random Dice Roller</title>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>

<section>
  <h1>Random Dice Roller</h1>
  <div id="dice-container">
    <div class="dice" id="d4">d4: 0</div>
    <div class="dice" id="d6">d6: 0</div>
    <div class="dice" id="d8">d8: 0</div>
    <div class="dice" id="d10">d10: 0</div>
    <div class="dice" id="d12">d12: 0</div>
    <div class="dice" id="d20">d20: 0</div>
  </div>
  <script src="/js/diceroller.js"></script>
</section>

<section>
  {% assign npcData = site.data.npcRoller %}
    <h1>Random NPC Generator</h1>
    <div id="character">
        <h2>Character Attributes</h2>
        <p><strong>Species:</strong> <span id="species"></span></p>
        <p><strong>Gender:</strong> <span id="gender"></span></p>
        <p><strong>Class:</strong> <span id="clash"></span></p>
        <p><strong>Size:</strong> <span id="size"></span></p>
        <p><strong>Background:</strong> <span id="background"></span></p>
        <p><strong>Motivation:</strong> <span id="motivation"></span></p>
        <p><strong>Flaw:</strong> <span id="flaw"></span></p>
    </div>
    <button id="generateCharacter">Generate Random Character</button>
    
<script>
  {% assign speciesArray = npcData.speciesOptions | split: ", " %}
  {% assign genderArray = npcData.genderOptions | split: ", " %}
  {% assign clashArray = npcData.clashOptions | split: ", " %}
  {% assign sizeArray = npcData.sizeOptions | split: ", " %}
  {% assign backgroundArray = npcData.backgroundOptions | split: ", " %}
  {% assign motivationArray = npcData.motivationOptions | split: ", " %}
  {% assign flawArray = npcData.flawOptions | split: ", " %}


        const speciesOptions = [ 
          {% for species in speciesArray %}
              "{{ species }}",
            {% endfor %}
         ];
        const genderOptions = [
            {% for gender in genderArray %}
              "{{ gender }}",
            {% endfor %}
         ];
        const clashOptions = [
            {% for clash in clashArray %}
              "{{ clash }}", 
            {% endfor %}

          ];
        const sizeOptions = [
            {% for size in sizeArray %}
              "{{ size }}", 
            {% endfor %}

          ];
        const backgroundOptions = [
            {% for background in backgroundArray %}
              "{{ background }}", 
            {% endfor %}

          ];
        const motivationOptions = [
            {% for motivation in motivationArray %}
              "{{ motivation }}", 
            {% endfor %}

          ];
        const flawOptions = [
            {% for flaw in flawArray %}
              "{{ flaw }}", 
            {% endfor %}

          ];


        const heightOptions = ["average", "tall", "short"];
        const skintoneOptions = ["pale", "olive", "dark", "green", "blue", "red"];
        const hairOptions = ["long", "short", "bald"];
        const weaponOptions = ["sword", "bow and arrow", "bombs", "stick", "sai"];
        
        function getRandomElement(array) {
            return array[Math.floor(Math.random() * array.length)];
        }

        function generateRandomCharacter() {
            const species = getRandomElement(speciesOptions);
            const gender = getRandomElement(genderOptions);
            const clash = getRandomElement(clashOptions);
            const size = getRandomElement(sizeOptions);
            const background = getRandomElement(backgroundOptions);
            const motivation = getRandomElement(motivationOptions);
            const flaw = getRandomElement(flawOptions);


            const height = getRandomElement(heightOptions);
            const skintone = getRandomElement(skintoneOptions);
            const hair = getRandomElement(hairOptions);
            const weapon = getRandomElement(weaponOptions);

            document.getElementById("species").textContent = species;
            document.getElementById("gender").textContent = gender;
            document.getElementById("clash").textContent = clash;
            document.getElementById("size").textContent = size;
            document.getElementById("background").textContent = background;
            document.getElementById("motivation").textContent = motivation;
            document.getElementById("flaw").textContent = flaw;


            document.getElementById("height").textContent = height;
            document.getElementById("skintone").textContent = skintone;
            document.getElementById("hair").textContent = hair;
            document.getElementById("weapon").textContent = weapon;
        }

        document.getElementById('generateCharacter').addEventListener('click', generateRandomCharacter);
        generateRandomCharacter(); // Generate a character on page load
    </script>

</section>


</body>